@layer base {
    :root {
        --text-1: #18564c;
        --text-2: #588066;
        --marrom-1: #9d7605;
    }
    .font-playfair {
        font-family: 'Playfair Display', serif;
    }
    .font-quicksand {
        font-family: 'Quicksand', sans-serif;
    }
}

.pseudo-line::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 25px;
    width: 80px;
    height: 1px;
    background-color: #bdc1ab;
    right: 65px;
}

.pseudo-line::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 25px;
    width: 80px;
    height: 1px;
    background-color: #bdc1ab;
    left: 65px;
}

.date-border {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #edd5ad, #9d7605, #edd5ad);
}